
#ESTRUCTURAS DE DATOS

In [ ]:
#LISTA
print("LISTAS:")
lista_compras = ["huevos","pan","café","ázucar","sal"]
print ("lista_compras = ",lista_compras)

lista_estudiantes=["Ana","Daniel","Luis","Carolina","Juan"]
print ("lista_estudiantes = ", lista_estudiantes, '\n')

#TUPLA
print("TUPLA:")
tupla_ID = ("14598","28934","85674","84390","38567")
print ("tupla_ID = ",tupla_ID)

tupla_notas = ("5.0","4.8","3.5","3.0","4.0")
print ("tupla_notas = ",tupla_notas, '\n')

#CONJUNTOS
print("CONJUNTOS:")
conjunto_numero_primo = {2,3,5,7,11,13}
print ("conjunto_numero_primo = ", conjunto_numero_primo)

conjunto_numero_impar ={1,3,5,7,9,11,13}
print ("conjunto_numero_impar = ",conjunto_numero_impar,'\n')

    #OPERACIONES
#UNIÓN  Combina todos los elementos de ambos conjuntos, sin duplicados.
print("UNION:")
#union= conjunto_numero_primo | conjunto_numero_impar
union= conjunto_numero_primo.union(conjunto_numero_impar)
print(union, '\n')

#INTERSECCIÓN Elementos que están en ambos conjuntos.
print("INTERSECCIÓN:")
#interseccion=conjunto_numero_primo & conjunto_numero_impar
interseccion=conjunto_numero_primo.intersection(conjunto_numero_impar)
print(interseccion,'\n')

#DIFERENCIA Elementos que están en primero (A) pero no en segundo (B)
print("DIFERENCIA:")
#diferencia=conjunto_numero_primo - conjunto_numero_impar
diferencia=conjunto_numero_primo.difference(conjunto_numero_impar)
print(diferencia,'\n')

#DIFERENCIA SIMÉTRICA Elementos que están en A o en B, pero no en ambos
print("DIFERENCIA SIMÉTRICA:")
#diferencia_sim=conjunto_numero_primo ^ conjunto_numero_impar
diferencia_sim=conjunto_numero_primo.symmetric_difference(conjunto_numero_impar)
print(diferencia_sim,'\n')

#COMPLEMENTO se calcula respecto a un universo de elementos.
print("COMPLEMENTO:")
conjunto_universal={1,2,3,4,5,6,7,8,9,10,11,12,13,14}
print("conjunto_universal = ",conjunto_universal)

#complemento_1= conjunto_universal- conjunto_numero_primo
complemento_1=conjunto_universal.difference(conjunto_numero_primo)
print(f"Complemento de conjunto_numero_primo = {conjunto_numero_primo} es {complemento_1}")

#complemento_2= conjunto_universal- conjunto_numero_impar
complemento_2=conjunto_universal.difference(conjunto_numero_impar)
print(f"Complemento de conjunto_numero_impar = {conjunto_numero_impar} es {complemento_2} \n")

#DICCIONARIOS
print("DICCIONARIOS:")
diccionario_datos_personales={"nombres":["Andrea", "Santiago", "Luis" ], "apellidos":["García", "Fernandez", "Alonso"] , "edad":[22, 25, 28]}
print ("diccionario_datos_personales = ",diccionario_datos_personales)

diccionario_estudiantes ={"nombre completo":["Ana Fernandez", "Camila Ulloa"], "Nota_1":[4.0 , 3.0], "Nota_2":[3.7 , 3.3] , "Nota_3":[4.5 , 4.2]}
print ("diccionario_estudiantes = ",diccionario_estudiantes)

LISTAS:
lista_compras =  ['huevos', 'pan', 'café', 'ázucar', 'sal']
lista_estudiantes =  ['Ana', 'Daniel', 'Luis', 'Carolina', 'Juan']

TUPLA:
tupla_ID =  ('14598', '28934', '85674', '84390', '38567')
tupla_notas =  ('5.0', '4.8', '3.5', '3.0', '4.0')

CONJUNTOS:
conjunto_numero_primo =  {2, 3, 5, 7, 11, 13}
conjunto_numero_impar =  {1, 3, 5, 7, 9, 11, 13}

UNION:
{1, 2, 3, 5, 7, 9, 11, 13}

INTERSECCIÓN:
{3, 5, 7, 11, 13}

DIFERENCIA:
{2}

DIFERENCIA SIMÉTRICA:
{1, 2, 9}

COMPLEMENTO:
conjunto_universal =  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
Complemento de conjunto_numero_primo = {2, 3, 5, 7, 11, 13} es {1, 4, 6, 8, 9, 10, 12, 14}
Complemento de conjunto_numero_impar = {1, 3, 5, 7, 9, 11, 13} es {2, 4, 6, 8, 10, 12, 14}

DICCIONARIOS:
diccionario_datos_personales =  {'nombres': ['Andrea', 'Santiago', 'Luis'], 'apellidos': ['García', 'Fernandez', 'Alonso'], 'edad': [22, 25, 28]}
diccionario_estudiantes =  {'nombre completo': ['Ana Fernandez', 'Camila Ulloa'], 'Nota_1': [4.0, 3.0], 'Nota_2': [3.7, 3.3], 'Nota_3': [4.5, 4.2]}

##CONVERTIR DICCIONARIO A DATAFRAME

In [ ]:
import pandas as pd

#DICCIONARIOS
diccionario_datos_personales={"Nombres":["Andrea", "Santiago", "Luis"],
                              "Apellidos":["García", "Fernandez", "Alonso"],
                              "Edad":[22, 25, 28],
                              "Ciudad":["Cali", "Bogotá", "Medellín"]}
#dataframe_datos_personales= pd.DataFrame.from_dict(diccionario_datos_personales, index =["Cliente 1","Cliente 2", "Cliente 3"]) POR QUÉ INDEX NO ME DA?
dataframe_datos_personales= pd.DataFrame(diccionario_datos_personales, index =["Cliente 1","Cliente 2", "Cliente 3"])
print ("Dataframe de datos personales \n", dataframe_datos_personales, '\n')

diccionario_estudiantes ={"Nombre completo":["Ana Fernandez", "Camila Ulloa"],
                          "Nota_1":[4.0 , 3.0],
                          "Nota_2":[3.7 , 3.3],
                          "Nota_3":[4.5 , 4.2]}
dataframe_estudiantes=pd.DataFrame(diccionario_estudiantes, index =["Estudiante 1","Estudiante 2"])
print("Dataframe de estudiantes \n", dataframe_estudiantes, '\n')

Dataframe de datos personales
             Nombres  Apellidos  Edad    Ciudad
Cliente 1    Andrea     García    22      Cali
Cliente 2  Santiago  Fernandez    25    Bogotá
Cliente 3      Luis     Alonso    28  Medellín

Dataframe de estudiantes
              Nombre completo  Nota_1  Nota_2  Nota_3
Estudiante 1   Ana Fernandez     4.0     3.7     4.5
Estudiante 2    Camila Ulloa     3.0     3.3     4.2

##RECORRER CADA ESTRUCTURA CON CICLO FOR

In [ ]:
print("Recorriendo lista_compras:")
for producto in lista_compras :
    print(f"- {producto}")

'''
lista_compras es la lista que queremos recorrer.
producto es la variable que tomará el valor de cada elemento de la lista en cada vuelta del ciclo.
print(producto) muestra el valor actual de producto en cada iteración
'''

print("\n Recorriendo tupla_ID con tupla_notas:")
for ID, nota in zip(tupla_ID, tupla_notas):
  print(f'{ID} sacó {nota} en el primer corte')
#Recorrer dos listas a la vez: La función zip() permite iterar sobre dos o más listas simultáneamente

print("\n Recorrer conjunto_numero_primo")
for numero_primo in conjunto_numero_primo:
  print(f'Numero primo: {numero_primo}')

print("\nRecorriendo diccionario_datos_personales:")
for clave, valor in diccionario_datos_personales.items():
    print(f"{clave}: {valor}")

import pandas as pd

df = pd.DataFrame(diccionario_datos_personales, index=["Cliente 1", "Cliente 2", "Cliente 3"])
print("\nRecorriendo DataFrame:")
for indice, fila in df.iterrows():
    print(f"{indice} → {fila['Nombres']} {fila['Apellidos']} ({fila['Edad']} años)")

Recorriendo lista_compras:
- huevos
- pan
- café
- ázucar
- sal

 Recorriendo tupla_ID con tupla_notas:
14598 sacó 5.0 en el primer corte
28934 sacó 4.8 en el primer corte
85674 sacó 3.5 en el primer corte
84390 sacó 3.0 en el primer corte
38567 sacó 4.0 en el primer corte

 Recorrer conjunto_numero_primo
Numero primo: 2
Numero primo: 3
Numero primo: 5
Numero primo: 7
Numero primo: 11
Numero primo: 13

Recorriendo diccionario_datos_personales:
Nombres: ['Andrea', 'Santiago', 'Luis']
Apellidos: ['García', 'Fernandez', 'Alonso']
Edad: [22, 25, 28]
Ciudad: ['Cali', 'Bogotá', 'Medellín']

Recorriendo DataFrame:
Cliente 1 → Andrea García (22 años)
Cliente 2 → Santiago Fernandez (25 años)
Cliente 3 → Luis Alonso (28 años)

##RECORRER DATAFRAME CON CICLO FOR

In [ ]:
#RECORRER FILAS COMPLETAS
for indice, fila in dataframe_datos_personales.iterrows():
    print(f"{indice}: {fila['Nombres']} {fila['Apellidos']} - {fila['Edad']} años")
'''
iterrows() devuelve un generador que, en cada iteración, da: el indice → el número o etiqueta de la fila y lo que contiene la fila
Se usas cuando necesitas trabajar con toda la información de una fila a la vez (por ejemplo, para cálculos fila a fila).
'''

#RECORRER COLUMNA POR COLUMNA
for columna in dataframe_datos_personales.columns:
    print(f"\n Columna: {columna}")
    print(dataframe_datos_personales[columna], '\n')
'''
.columns devuelve una lista con los nombres de todas las columnas.
En cada iteración, df[columna] accede a todos los valores de esa columna.
Se usas cuando quieres procesar o analizar los datos por columnas (por ejemplo, obtener estadísticas de una sola variable).
'''

#RECORRER CELDA POR CELDA
for indice, fila in dataframe_datos_personales.iterrows():
  for columna in dataframe_datos_personales.columns:
    print(f"{indice} - {columna}: {fila[columna]}")

#El primer for recorre cada columna del DataFrame. El segundo for recorre cada valor dentro de esa columna. Así, se accede a cada celda individualmente
#Se usa cuando necesitas aplicar un proceso o validación a cada valor de forma independiente.

Cliente 1: Andrea García - 22 años
Cliente 2: Santiago Fernandez - 25 años
Cliente 3: Luis Alonso - 28 años

 Columna: Nombres
Cliente 1      Andrea
Cliente 2    Santiago
Cliente 3        Luis
Name: Nombres, dtype: object


 Columna: Apellidos
Cliente 1       García
Cliente 2    Fernandez
Cliente 3       Alonso
Name: Apellidos, dtype: object


 Columna: Edad
Cliente 1    22
Cliente 2    25
Cliente 3    28
Name: Edad, dtype: int64


 Columna: Ciudad
Cliente 1        Cali
Cliente 2      Bogotá
Cliente 3    Medellín
Name: Ciudad, dtype: object

Cliente 1 - Nombres: Andrea
Cliente 1 - Apellidos: García
Cliente 1 - Edad: 22
Cliente 1 - Ciudad: Cali
Cliente 2 - Nombres: Santiago
Cliente 2 - Apellidos: Fernandez
Cliente 2 - Edad: 25
Cliente 2 - Ciudad: Bogotá
Cliente 3 - Nombres: Luis
Cliente 3 - Apellidos: Alonso
Cliente 3 - Edad: 28
Cliente 3 - Ciudad: Medellín